.detailPage {
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 800px;
    padding: 40px;
    width: calc(100% - 530px);
    margin-left: 450px;
}

#arrow{
    width: 20px;
    height: 20px;
}
.restaurant-details{
    height: 360px;
}
.restaurant-details .thumbnail {
    float: left;
    object-fit: cover;
    height: 300px;
    width: 400px;
}

.restaurant-details .imageright{
    margin-left: 40px;
    height: 300px;
    float:left;
    display: flex;
    flex-direction: column;
    width: calc(100% - 450px);
}

.restaurant-details .imageright .up{
    height: fit-content;
    margin-top: 10px;
}
.restaurant-details .imageright .up .title{
    font-size: 30px;
    margin-right: 10px;
    float: left;
}
.rate-wrapper {
    display: block;
    float: left;
    margin-top: 8px;
}
.restaurant-details .imageright .up .rate{
    font-size: xx-large;
    color: orange;
    float: left;
   
}
.restaurant-details .rating-diff-wrapper{
   margin-top: 10px;
   margin-left: 10px;
   float: left;
   display: flex;
   font-size: 15px;
}
.rating-diff-wrapper .rating-decreased {
    color: #657CFF
}
.rating-diff-wrapper .rating-increased {
    color: #F1814D;
}
.rating-diff-wrapper .rating-unchanged {
    color: orange;
}
.restaurant-details .imageright .detailinfo{
    height: 200px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: grey;

}
.moreImage{
    display:flex;
    height: 240px;
    width: 100%;
    overflow-x: scroll;
}
.info-type {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
.keywords {
    margin-left: calc(50% - 500px);
}
.restaurant-image {
    object-fit: cover;
    width: 280px;
    height: 200px;
    margin-right: 2px;
}