input[type='range'] {
  width: calc(100% - 60px);
  margin: 0px 30px 0px 30px;
  height: 20px;
  cursor: pointer;
  display: block;
  outline: none;
  z-index: 1;
}
input[type='range'],
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  background: #CCCCCC;
  border-radius: 10px;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 0px;
  width: 0px;
  margin-top: -10px;
  background: transparent;
}
.slider-wrapper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.fill-lower {
  height: 12px;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: -16px;
  position: relative;
  z-index: 10;
  pointer-events: none;
  background-color: #E44142;
}
.user-factor {
  margin-left: 40px;
  font-size: 20px;
  color:  #666666;
}
.factor-type {
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color:  #666666;
}
.factor-indicator-wrapper {
  padding-top: 5px;
  margin-left: 40px;
  margin-top: 15px;
}
.factor-indicator {
  position: relative;
  width: 10px;
  height: 15px;
  margin-top: -15px;
  color: #AAAAAA;
  display: flex;

}
