.image{
    padding-top: 25px;
    width: 260px;
    height: 180px;
    cursor: pointer;
    float: left;
}
.summary {
    height: 230px;
    width: 100%;
    border-bottom: solid;
    border-color: #AAAAAA;
    border-width: 2px;
}
.order{
    font-size: 30px;
    padding: 100px 40px 0px 40px;
    color: #666666;
    float: left;
}
.text{
    float:left;
    width: calc(100% - 371.69px);
    padding-top: 20px;
    padding-left: 15px;
}
.text .head {
    height: 50px;
    padding-bottom: 10px;
}
.text .rate {
    font-size: 50px;
    padding-right: 10px;
    cursor: pointer;
    color: #FFCA59;
    float: left;
}

.text .title {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    float: left; 
}
.text .category {
    font-size: large;
    color: gray;
}
.text .border {
    margin-right: 20px;
    margin-bottom: 0px;
    border: 1px solid #CCCCCC;
}
.text .keywords {
    float: left;
}