.MyInfoTab {
  background-color: white;
}
.MyInfoTab #name {
  position: relative;
  color: #E44142;
}
.upper-bar {
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px gray;
  padding-bottom: 30px;
  border-top: 3px black solid;
  background-color: white;
}

.upper-bar-welcome {
  margin-right: 20px;
}
.upper-bar-welcome #name {
  margin-left: 10px;
}

input::placeholder {
  vertical-align: text-top;
  text-align: left;
}

.second-line {
  margin-bottom: 0px;
}
#restaurantName {
  color: #E44142;
}
.review-input-set {
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  border-bottom: 1px gray solid;
  padding-bottom: 20px;
}

#review-input {
  width: 70%;
  height: 65px;
}

#review-confirm {
  width: 30%;
  height: 70px;
  text-align: center;
  background-color: #E44142;
  color: white;
  border: none;
  cursor: pointer;
}


#sign-out {  
  background-color: #E44142;
  border-radius: 10px;
  color: #FFFFFF;
  width: 90px;
  height: 15px;
  outline: none;
  padding-bottom: 30px;
  border: none;
  position: absolute;
  margin-left: 110px;
  margin-top: 5px;
}

.on-main-page {
  background-color: white;
  border-bottom: 3px gray solid;
}
#welcome-img {
  position: absolute;
  opacity: 0.3;
}
#welcome-text {
  background-color: white;
  margin-bottom: 260px;
}

