
.createID .box{
    width: 400px;
    height: 500px;
    border: solid;
   
    margin: auto;
    position: absolute;
    top:20%;
    left: 37%;
    background-color: white;
    border-radius: 2em;
border-top-left-radius: 2em;
border-top-right-radius: 2em;
border-bottom-left-radius: 2em;
border-bottom-right-radius: 2em;
    
}