.createID {
  min-width: 1000px;
}
.createID .check-email{
  color: red;
  font-size: 17px;
  margin-left: 10px;
}
.createID .check-password{
  color: red;
  font-size: 17px;
  margin-left: 10px;
}
.createID .box {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #666666;
  width: 300px;
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
  padding: 1px 50px 30px 50px;
}
.box input {
  width: calc(100% - 15px);
  border: 2px solid #AAAAAA;
  border-radius: 15px;
  height: 30px;
  padding-left: 10px;
  margin: 10px 0px 10px 0px;
  outline: none;
}

.box input:focus {
  border-color: #E44142;
}
#sign-up-button {
  background-color: #E44142;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
}
#sign-up-button:hover {
  background-color: #F46162;
}
#sign-up-button:focus {
  background-color: #F46162;
  border-style: solid;
  border-width: 3px;
  border-color: #AAAAAA;
}
#sign-up-button:active {
  background-color: #AAAAAA;
}
.createID .box .signup {
  font-weight: normal;
  letter-spacing: 2px;
  color: #888888;
  text-align: left;
  font-size: 30px;
  display: flex;
}
.createID .box .step1 {
  margin-top: 18px;
  font-size: 15pt;
}

.ask-sign-in {
  letter-spacing: 1px;
  color: #AAAAAA;
  font-size: 15px;
}

.ask-sign-in .link {
  text-decoration: none;
  color: #00AAFF
}

.ask-sign-in .link:active {
  text-decoration: none;
  color: #8c65e9
}
.createID #back-to-login {
  margin: 10px 0px 10px 140px;
}
