.foodCategory .images{
  text-align: center;
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.foodCategory .category{
  height:80px
}
.foodCategory .unchecked {
  width: 80px;
  height: 80px;
  opacity: 1;
  cursor: pointer;
}

.foodCategory .checked {
  width: 80px;
  height: 80px;
  opacity: 0.5;
  cursor: pointer;
}
#savebutton{
  width:100px;
  background-color: #E44142;
  border: none;
  font-weight: bold;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;  
  margin-top: 50px;
  margin-left: 280px;
}
