#show-more {
  width:100%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #666666;
  background-color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
