.mainPage {
    /* float: right;
    display: flex;
    flex-direction: column;
    width: calc(100% - 450px);
    min-width: 1000px;
    height: 100%; */
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1200px;
    margin-left: 530px;
}

#more-button {
  width:130px;
  
  border: none;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 435px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}