.mainPage .sideBar{
    width: 400px;
    float: left;
    position: fixed;
    
}
.mainPage .restaurantList{
    float: left;
    display: flex;
    flex-direction: column;

    width: calc(100% - 400px);
    min-width: 1000px;
    height: 100%;
    overflow-y:scroll;
    padding-left: 410px;
}