#filter .category-list{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

#filter .category {
  margin: 5px;
}

#filter .category button{
  font-weight: bold;
  width: 100px;
  height: 40px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  background-color: #FFFFFF;
}

#filter .category button.checked {
  border-color: #AAAAAA;
  color: #AAAAAA;
}

#filter .category button.unchecked {
  border-color: #E44142;
  color: #E44142;
}
