.locationPopup {
  padding: 10px;
}
.locationPopup .searchPopup {
  width: 300px;
  height: 500px;
  border-radius: 5px;
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 10;
  display: none;
}
.locationPopup .searchBox {
  border-radius: 5px;
  border-style: solid;
  margin: 10px;
  width: 270px;
  height: 30px;
}
.locationPopup .searchButton {
  background-color: #DDDDDD;
  border-style: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  margin-left: 10px;
}
.searchResultBorder {
  padding: 0px;
  margin: 0px;
}