.restaurant-factor {
  height: 20px;
  color: #AAAAAA;
  margin: 5px;
  font-size: 16px;
  display: flex;
}
.factor-name {
  width: 100px;
}
.factor-bar {
  text-indent: 8px;
  height: 80%;
  width: calc(100% - 140px);
  margin-right: 40px;
  margin-top: 5px;
  color: white;
  float: right;
  overflow: hidden;
  background: linear-gradient(to right, #FFAA29 , #E44142);
  border-radius: 10px;
}
.factor-weight {
  z-index: 1;
  position: absolute;
  margin: 0px;
}
.gauge {
  background-color: #DDDDDD;
  height: 100%;
  position: relative;
  float: right;
}