.factor {
  height: 20px;
  color: #AAAAAA;
  margin: 5px;
  font-size: 16px;
}
.bar {
  text-indent: 8px;
  height: 80%;
  width: 75%;
  margin-right: 50px;
  margin-top: 5px;
  color: white;
  float: right;
  overflow: hidden;
  background: linear-gradient(to right, #FFAA29 , #E44142);
  border-radius: 10px;
}
.rating {
  z-index: 1;
  position: absolute;
  margin: 0px;
}
.gauge {
  background-color: #DDDDDD;
  height: 100%;
  position: relative;
  float: right;
}