.MyReview {
  width: 100%;
}


.MyReview .review-info {
  height: 30px;
  display: inline-block;
}
.MyReview .review-info .review-rating-stars {
  margin-left: 110px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.MyReview .review-info .review-detail {
  color: #444444;
  display: inline-block;
  vertical-align: middle;
}

.MyReview .review-content {
  margin-left: 30px;
  width: 400px;
  font-size: 13pt;
}
.MyReview #content-text {
  width: 400px;
  font-size: 13pt;
  word-break:break-all;
}
.MyReview .review-input {
  background-color: transparent;
  width: 100%;
  font-size: 13pt;
  word-break:break-all;
  border-radius: 10px;
}
.MyReview #review-edit-done-button {
  cursor: pointer;
}
.MyReview #review-edit-button {
  cursor: pointer;
}
.MyReview #review-delete-button {
  cursor: pointer;
}
.MyReview #review-cancel-button {
  cursor: pointer;
}
