.PreferenceVectorTab {
  background-color: white;
  overflow: scroll;
}

.preference-upper-bar {
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px gray;
  padding-bottom: 55px;
  background-color: white;
}

#preference-vector-button {
  background-color: #E44142;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 330px;
  font-size: 15px;
  width: 65px;
  height: 30px;
  outline: none;
  border: none;
  padding-bottom: 30px;
}
