.OtherReview {
  display: flex;
  flex-direction: row;
  border-bottom: 1px gray solid;
  margin-bottom: 10px;
}
.other-review-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.other-review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.OtherReview #author-name {
  text-align: center;
  margin-left: 0px;
  margin-top: 5px;
}
.OtherReview #rating-text {
  margin-left: 10px;
}
.OtherReview #createTime {
  margin-left: 10px;
}

.OtherReview .open-content {
  border: none;
  color: #666666;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
.OtherReview .close-content {
  width:100%;
  border: none;
  color: #666666;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}

