.MyReview {
  width: 100%;
  height: 80px;
  margin-left: 30px;
}

.MyReview .review-info {
  height: 30px;
}
.MyReview .review-info .review-rating-stars {
  vertical-align: middle;
  width: 50%;
}
.MyReview .review-info .review-detail {
  color: #444444;
  text-align: right;
  align-items: end;
  vertical-align: middle;
  width: 50%;
}

.MyReview .review-content {
  width: 70%;
  font-size: 13pt;
  height: 30px;
  margin-top: 20px;
}
.MyReview .review-input {
  background-color: transparent;
  border: none;
  width: 70%;
  height: 30px;
  font-size: 13pt;
}
.MyReview #review-edit-done-button {
  cursor: pointer;
}
.MyReview #review-edit-button {
  cursor: pointer;
}
.MyReview #review-delete-button {
  cursor: pointer;
}
.MyReview #review-cancel-button {
  cursor: pointer;
}
.rating[data-rating="0"] .rating__item:nth-child(-n + 0):after, .rating[data-rating="0.5"] .rating__item:nth-child(-n + 0):after, .rating[data-rating="1"] .rating__item:nth-child(-n + 1):after, .rating[data-rating="1.5"] .rating__item:nth-child(-n + 1):after, .rating[data-rating="2"] .rating__item:nth-child(-n + 2):after, .rating[data-rating="2.5"] .rating__item:nth-child(-n + 2):after, .rating[data-rating="3"] .rating__item:nth-child(-n + 3):after, .rating[data-rating="3.5"] .rating__item:nth-child(-n + 3):after, .rating[data-rating="4"] .rating__item:nth-child(-n + 4):after, .rating[data-rating="4.5"] .rating__item:nth-child(-n + 4):after, .rating[data-rating="5"] .rating__item:nth-child(-n + 5):after, .rating[data-rating="5.5"] .rating__item:nth-child(-n + 5):after {
  content: "\f005";
}
.rating[data-rating="0.5"] .rating__item:nth-child(1):after, .rating[data-rating="1.5"] .rating__item:nth-child(2):after, .rating[data-rating="2.5"] .rating__item:nth-child(3):after, .rating[data-rating="3.5"] .rating__item:nth-child(4):after, .rating[data-rating="4.5"] .rating__item:nth-child(5):after, .rating[data-rating="5.5"] .rating__item:nth-child(6):after {
  content: "\f123";
}
.rating {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #900;
}
.rating__item {
  font-size: 24px;
  display: block;
  font-family: FontAwesome;
}
.rating__item::after {
  content: '\f006 ';
}

